body{
  background-color: cadetblue;
}
h1 {
  display: flex;
  justify-content: center;
  align-items:  center;
  font-size: 50px;
  font-family: sans-serif;
  color: whitesmoke;
  text-align: center;
  height: 700px;
}